.cache
.eclipse
.envrc
.history
.vscode
*.eml
*.iml
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/*.iml
/db
/dist/
/lib/
/logs/
/modules
/out
/project/project
/project/target
/RUNNING_PID
/target
activator
activator-*.jar
activator.bat
bin/
dist
logs
project/project
project/target
sbt-cache
server.pid
target
test-result
tmp
tmp/