@import helper._

@(message: String, user: User, userForm: Form[User])

@main("Welcome to Auth Demo") {
    <li><a href="#">Hello @user.username</a></li>
    @if(user.yubiKeyIdentity != null){
    <li>YK <span class="glyphicon glyphicon-ok"></span></li>
    }
    @if(user.googleSecretKey != null){
    <li>GA <span class="glyphicon glyphicon-ok"></span></li>
    }
    <li><a href="@routes.Application.logout()">logout</a></li>

} {

<div class="row">
    <div class="jumbotron">
        <form method="POST" action="@routes.GoogleAuth.init()">
            <input class="btn btn-primary" type="submit" value="init Google Authenticaor"/>
        </form>
    </div>
    <div class="jumbotron">
        <form method="POST" action="@routes.YubiAuth.init()">
            <p>
            @inputText(
            userForm("yubiKey"),
            '_label -> "yubikey",
            'placeholder -> "yubikey"
            )
            </p>
            <input class="btn btn-primary" type="submit" value="init YubiKey Authenticaor"/>
        </form>
    </div>
</div>

}