@import helper._

@(message: String, user: User, userForm: Form[User])

@main("Welcome to Auth Demo") {
<ol class="breadcrumb">
    <li><a href="@routes.Application.index()">Main</a></li>
    <li>Hello @user.username</li>
    @if(user.yubiKeyIdentity != null){
    <li>YK <span class="glyphicon glyphicon-ok"></span></li>
    }
    @if(user.googleSecretKey != null){
    <li>GA <span class="glyphicon glyphicon-ok"></span></li>
    }
    <li><a href="@routes.Application.logout()">logout</a></li>
</ol>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <form method="POST" action="@routes.GoogleAuth.init()">
            <input class="btn btn-primary" type="submit" value="init Google Authenticaor"/>

        </form>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <form method="POST" action="@routes.YubiAuth.init()">
            <input class="btn btn-primary" type="submit" value="init YubiKey Authenticaor"/>
            @inputText(
            userForm("yubiKey"),
            '_label -> "yubikey",
            'placeholder -> "yubikey"
            )
        </form>
    </div>
</div>

}